{% extends "base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8">
        <div class="card">
            <div class="card-header">
                <h4><i class="fas fa-user-{{ 'edit' if titulo == 'Editar Operador' else 'plus' }} me-2"></i>{{ titulo }}</h4>
            </div>
            <div class="card-body">
                <form method="POST">
                    {{ form.hidden_tag() }}
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.nome.label(class="form-label") }}
                            {{ form.nome(class="form-control") }}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            {{ form.warname.label(class="form-label") }}
                            {{ form.warname(class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.cpf.label(class="form-label") }}
                            {{ form.cpf(class="form-control", placeholder="000.000.000-00") }}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            {{ form.telefone.label(class="form-label") }}
                            {{ form.telefone(class="form-control", placeholder="(00) 00000-0000") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.email.label(class="form-label") }}
                        {{ form.email(class="form-control", placeholder="exemplo@email.com") }}
                    </div>
                    
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            {{ form.data_nascimento.label(class="form-label") }}
                            {{ form.data_nascimento(class="form-control", placeholder="DD/MM/AAAA") }}
                        </div>
                        
                        <div class="col-md-6 mb-3">
                            {{ form.idade.label(class="form-label") }}
                            {{ form.idade(class="form-control") }}
                        </div>
                    </div>
                    
                    <div class="mb-3">
                        {{ form.battlepass.label(class="form-label") }}
                        {{ form.battlepass(class="form-select") }}
                    </div>
                    
                    <hr>
                    
                    <div class="d-flex justify-content-between">
                        <button onclick="history.back()" class="btn btn-secondary">
                            <i class="fas fa-arrow-left me-2"></i>Voltar
                        </button>
                        <button type="submit" class="btn" style="background-color: #FF6B00; color: white;">
                            <i class="fas fa-save me-2"></i>Salvar
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
